body {
    background-color: #fafafa;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    text-align: center;
    height: 100vh;
}
#inputInfo {
    width: 100%;
    max-width: 350px;
    padding-top: 35px;
}
#logIn {
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
}
#logIn img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 190px;
    padding: 40px 0;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    margin: 3px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #fafafa;
    padding: 10px;
}
#logInButton {
    font-weight: bold;
    background-color: #6eb7f9;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}
fieldset {
    text-align: center;
    border-top: 1px solid #d9d9d9;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 10px;
}
#facebook {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
#facebook i {
    font-size: 18px;
    color: #385185;
    padding-right: 8px;
}
#facebookLogIn {
    color: #385185;
    font-weight: 600;
}
legend {
    padding: 0 10px;
    font-weight: 500;
    color: gray;
}
#forgotPassw {
    color: #385185;
    margin-bottom: 20px;
}
#createAccnt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 10px;
    padding: 10px 0;
}
#createAccnt a {
    color: #4295f6;
    font-weight: 500;
    padding: 5px 0;
}
footer {
    padding-bottom: 50px;
}
#sources {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#sources a {
    text-decoration: none;
    margin: 0 8px 12px 8px;
    color: gray;
    cursor: pointer;
    font-size: 12px;
}
#language {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: gray;
    gap: 15px;
}
#language a {
    color: gray;
}
.regularFontSize {
    font-size: 14px;
}
.smallFontSize {
    font-size: 12px;
}
.cursorPointer {
    cursor: pointer;
}
.textDecoration {
    text-decoration: none;
}

@media screen and (max-width: 820px) {
    #details {
        padding-top: 0;
    }
    video {
        display: none;
    }
}
@media screen and (max-width: 414px) {
    #details {
        align-items: baseline;
        padding-top: 0;
    }
    #logIn {
        background-color: #fafafa;
        border: none;
    }
    #inputInfo {
        padding: 0;
    }
    #createAccnt {
        background-color: #fafafa;
        border: none;
        margin: 65px 0;
    }
}